# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/


# MCreator workspace
.mcreator/

# Minecraft client/server files


# MCreator generator ignores

# MacOS system files
.DS_STORE
